{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>doctor detail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/arial.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cuf_run.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/radius.js' %}"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <!-- <ul> -->
          <!-- <li><a href="index.html">Home</a></li> -->
          <!-- <li><a href="support.html">Support</a></li> -->
          <!-- <li><a href="about.html">About Us</a></li> -->
          <!-- <li><a href="blog.html">Blog</a></li> -->
          <!-- <li class="active"><a href="contact.html">Contact Us</a></li> -->
        <!-- </ul> -->
      </div>
      <div class="logo">
        <h1><a href="#"><b><i>Hospital Management </i></b></a></h1>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        
        <div class="article">
          <h2><span><b>Doctor sign-up</b></h2>
          <div class="clr"></div>
          <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <ol>
              <li>
                <label for="name" >Name</label>
                <input type="text" name="name" class="text" placeholder="enter your name"/>
              </li>
              <li>
                <label for="email">Email</label>
                <input type="email" name="email" class="text" placeholder="enter your Email"/>
              </li>
              <li>
                <label for="gender">Gender</label>
                <input type="text" name="gender" class="text" placeholder="enter your gender"/>
              </li>
              <li>
                <label for="dob">DOB</label>
                <input type="text" name="dob" class="text" placeholder="enter your dob"/>
              </li>
              <li>
                <label for="experience">Experience</label>
                <input type="text" name="experience" class="text" placeholder="enter your experience"/>
              </li>
              <li>
                <label for="specialization">Specialization</label>
                <input type="text" name="epecialization" class="text" placeholder="enter your epecialization"/>
              </li>
              <li>
                <label for="address">Address</label>
                <textarea type="text" name="paddress" placeholder="enter your address"></textarea>
              </li>
              <li>
                <label for="mobileno">Mobile-No</label>
                <input type="number" name="mobileno" class="text" placeholder="enter your Mobile-no" />
              </li>
              <li>
                <label for="message">Password</label>
                <input type="password" name="password" class="text" placeholder="enter your password" />
              </li>
              <li>
                <label for="degree">Degree</label>
                <input type="text" name="degree" class="text" placeholder="enter your degree" />
              </li>
              <li>
                <label for="file">Upload Image</label>
                <input type="file" name="image" class="text"  />
              </li>
              <li>
                <input type="image" name="imageField" id="imageField" src="{% static 'images/submit.gif' %}" class="send" />
                <div class="clr"></div>
              </li>
            </ol>
          </form>
        </div>
      </div>
      <div class="sidebar">
        <div class="searchform">
          
        </div>
        <div class="gadget">
          <h2 class="star"><span></span></h2>
          <div class="clr"></div>
            <a href="#"><img src="{% static 'images/1.jpg' %}" width="130%" height="180%" alt="" /></a>
          
        </div>
     
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image Gallery</span></h2>
        <a href="#"><img src="{% static 'images/2.jpg' %}" width="58" height="58" alt="" /></a>
         <a href="#"><img src="{% static 'images/3.jpg' %}" width="58" height="58" alt="" /></a>
          <a href="#"><img src="{% static 'images/4.jpg' %}" width="58" height="58" alt="" /></a> 
          <a href="#"><img src="{% static 'images/5.jpg' %}" width="58" height="58" alt="" /></a> 
          <a href="#"><img src="{% static 'images/6.jpg' %}" width="58" height="58" alt="" /></a> 
          <a href="#"><img src="{% static 'images/7.jpg' %}" width="58" height="58" alt="" /></a> </div>
      <div class="col c2">
        <h2><span>HealthWay</span></h2>
        <p>Healthway is a corporate medical website that offers a clean, user-friendly web design. With the many different locations and health services offered by Healthway, the website manages to maintain functionality while providing all the necessary information from it’s directory.

        </p>
      </div>
      <div class="col c3">
        <h2><span>Details</span></h2>
        <p>Medical or Healthcare websites should be crisp and informative. Web design should be easy to read and easy to navigate in terms of fonts and function.

          The practice should show high-quality images of the healthcare providers and the medical center itself. A brief overview of their credentials, the type of healthcare they provide and their approach to it should also be provided.</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    
  </div>
</div>
</body>
</html>
