{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Admin sign-up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/arial.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cuf_run.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/radius.js' %}"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <!-- <ul> -->
          <!-- <li><a href="index.html">Home</a></li> -->
          <!-- <li><a href="support.html">Support</a></li> -->
          <!-- <li><a href="about.html">About Us</a></li> -->
          <!-- <li><a href="blog.html">Blog</a></li> -->
          <!-- <li class="active"><a href="contact.html">Contact Us</a></li> -->
        <!-- </ul> -->
      </div>
      <div class="logo">
        <h1><a href="#"><b><i>Hospital Management </i></b></a></h1>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        
        <div class="article">
          <h2><span><b>Admin Data View</b></h2>
          <div class="clr"></div>
          
          <section class="contact_section layout_padding-bottom">
            <div class="container">
              <div class="heading_container">
                <br>
                <h2>
                  Doctor's List
                </h2>
              </div>
              
              <table class="table caption-top">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Address</th>
                    <th scope="col">MobileNo</th>
                    <th scope="col">Degree</th>
                    <th scope="col"> Doctor Image</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                  {% for d in doctor_obj %}
                    <td>{{d.name}}</td>
                    <td>{{d.email}}</td>
                    <td>{{d.gender}}</td>
                    <td>{{d.dob}}</td>
                    <td>{{d.experience}}</td>
                    <td>{{d.specialization}}</td>
                    <td>{{d.address}}</td>
                    <td>{{d.mobileno}}</td>
                    <td>{{d.degree}}</td>
                    <td><img src="{{d.image.url}}" style="height:20px; widhth:20px;"/></td>
                    <td>
                      &nbsp;
                      <a href="{% url 'deletedoctor' d.id %}" type="button" class="btn btn-outline-dark">Delete</a>
                      &nbsp;
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </section>
        
        
        
          <section class="contact_section layout_padding-bottom">
            <div class="container">
              <div class="heading_container">
                <br>
                <h2>
                  Patient's List
                </h2>
              </div>
              
              <table class="table caption-top" style="fa-border">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Report</th>
                    <th scope="col">Image</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  {% for pa in patient_obj %}
                    <td>{{pa.name}}</td>
                    <td>{{pa.email}}</td>
                    <td>{{pa.mobileno}}</td>
                    <td>{{pa.doctor}}</td>
                    <td>{{pa.gender}}</td>
                    <td>{{pa.address}}</td>
                    <td>{{pa.dob}}</td>
                    <td>{{pa.report}}</td>
                    <td><img src="{{pa.image.url}}" style="height:20px; width:20px;" ></td>
                    <td>
                      &nbsp;
                      <a href="{% url 'delete' pa.id %}" type="button" class="btn btn-outline-dark">Delete</a>
                      &nbsp;
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </section>
          <a class="btn bg-gradient-primary mt-4 w-100" href="/" type="button">Logout</a>
      </div>
      </div>
      <div class="sidebar">
        <div class="searchform">
          
        </div>
        <div class="gadget">
          <h2 class="star"><span></span></h2>
          <div class="clr"></div>
            <a href="#"><img src="{% static 'images/1.jpg' %}" width="130%" height="180%" alt="" /></a>
          
        </div>
     
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image Gallery</span></h2>
        <a href="#"><img src="{% static 'images/2.jpg' %}" width="58" height="58" alt="" /></a>
         <a href="#"><img src="{% static 'images/3.jpg' %}" width="58" height="58" alt="" /></a>
          <a href="#"><img src="{% static 'images/4.jpg' %}" width="58" height="58" alt="" /></a> 
          <a href="#"><img src="{% static 'images/5.jpg' %}" width="58" height="58" alt="" /></a> 
          <a href="#"><img src="{% static 'images/6.jpg' %}" width="58" height="58" alt="" /></a> 
          <a href="#"><img src="{% static 'images/7.jpg' %}" width="58" height="58" alt="" /></a> </div>
      <div class="col c2">
        <h2><span>HealthWay</span></h2>
        <p>Healthway is a corporate medical website that offers a clean, user-friendly web design. With the many different locations and health services offered by Healthway, the website manages to maintain functionality while providing all the necessary information from it’s directory.

        </p>
      </div>
      <div class="col c3">
        <h2><span>Details</span></h2>
        <p>Medical or Healthcare websites should be crisp and informative. Web design should be easy to read and easy to navigate in terms of fonts and function.

          The practice should show high-quality images of the healthcare providers and the medical center itself. A brief overview of their credentials, the type of healthcare they provide and their approach to it should also be provided.</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    
  </div>
</div>
</body>
</html>
